body{
    background-color: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply dark:text-white;
    @apply dark:bg-black;
    @apply text-black;
    @apply bg-white;
}