body{
    background-color: black;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
}

.card {
    background-color: rgb(18, 18, 18);
    border-radius: theme('borderRadius.lg');
    padding: theme('spacing.6');
    box-shadow: theme('boxShadow.xl');
  }